<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<header>

    <h1>Party of One Travels</h1>



</header>
<form action="action_page.php" method="get">
    <div class="container">
        <h1>Login</h1>

        <hr>

        <input type="text" placeholder="Profile Name" name="profileName" required>

        <input type="password" placeholder="Enter Password" name="psw" required>

        <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
        <hr>

    </div>

    <div class="container signin">
        <p>Already have an account? <a href="#">Sign in</a>.</p>
    </div>
</form>
</body>
</html>