<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

<header>
    <nav th:replace="fragments :: my-fragment1"></nav>


    <h1 class="party">Party of One Travels</h1>
</header>
<body>

<br>
<br>
<div>
    <p class="description">
        Welcome to Party of One! This website is created as a resource for women who love
        to travel. You can set up a profile where you can post recommendations and provide
        helpful travel tips for women unafraid to travel the world by themselves.  You can
        connect with other women who hunger to see the world.
    </p>

</div>

<h3> </h3>
<a href="/viewUser" >LET'S GO!</a>
<br>

<br>
<br>
<br>
<img src= "images/WelcomePic2.jpg" alt="Picture of Aruba" />



</body>
</html>