<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head"></head>
<header>
    <nav th:replace="fragments :: my-fragment1"></nav>


    <h1 class="party">Party of One Travels</h1>
</header>
<body>
<p>Hi there,</p>
<p>I'd love to receive feedback.</p>
<p>If you’d like to get in touch with me with comments or ideas, please do so.</p>
<p>Publisher:</p>

<p>Stacie Taarah73@gmail.com</p>
<br>
<p>Editor</p>
<p>Stacie Taarah73@gmail.com</p>

<br>
<br>
You can also follow us:
<p>Twitter: @Stasha73</p>

<p>Wishing you happy and safe travels!</p>
Stacie

</body>
</html>