<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Travel</title>
    <link rel="stylesheet" type="text/css" href="style.css">

</head>
<body>
<header>

    <h1 th:text="${title}">Party of One</h1>
</header>
<div>
<p class="description">
Welcome to Party of One! This website is created as a resource for women who love
to travel. You can set up a profile where you can post recommendations and provide
helpful travel tips for women unafraid to travel the world by themselves.  You can
connect with other women who hunger to see the world.

</p>
</div>
<br>
<br>
<br>



<img src="https://www.worldatlas.com/img/areamap/continent/caribbean_map.gif" alt="Caribbean Islands" >


    <footer>
    <p>Posted by Stacie Ray</p>
    <p> August 1, 2019</p>
    <p> Contact information: <a href="73@mailto:Taarah73@gmail.com">Taarah73@gmail.com</a>
    </p>

</footer>

</body>
</html>