<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Travel</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" >

</head>
<body>
<header>

    <h1 class="title cursive capitalize ">Party Of One </h1>
</header>
<div>
<p class="description">
I want to create a travel guide/blog for the solo traveler.<br>
I want to create a resource for women specifically who love to travel,<br>
but have concerns about where to go. The website would allow you to set up<br>
a profile where you can post recommendations and provide helpful travel tips.<br>
The post section would include data consisting of titles, ratings and (posts).<br>
I want to be able to sort by title, rating or location.
</p>
</div>
<img src="https://www.worldatlas.com/img/areamap/continent/caribbean_map.gif" alt="Caribbean Islands">
<footer>
    <p>Posted by Stacie Ray</p>
    <p> Contact information: <a href="73@mailto:Taarah73@gmail.com">Taarah73@gmail.com</a>
    </p>

</footer>

</body>
</html>