<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

<header>
    <nav th:replace="fragments :: my-fragment1"></nav>


    <h1 class="party">Party of One Travels</h1>
</header>
<body>

<br>
<br>
<div>
    <p class="description">
        Welcome to Party of One! This website is created as a resource for women who love
        to travel. You can set up a profile where you can post recommendations and provide
        helpful travel tips for women unafraid to travel the world by themselves.  You can
        connect with other women who hunger to see the world.
    </p>
</div>
<br>
<br>
<br>

<p> Visitors to the website can create a profile in order to post helpful tips</p>
<br>

<h2 >Create User Profile</h2>
<div>
<form th:action="@{/register}" th:object="${userProfile}" method="post">

        <p>Profile Name : <input th:field="*{profileName}" placeholder ="Profile Name" type="text"/></p>
        <span th:: errors="*{profileName}" class="errors"></span>
        <p>First Name   : <input  type="text" th:field="*{firstName}" placeholder="First Name"/></p>
        <span th:: errors="*{firstName}" class="errors"></span>
        <p>Last Name : <input type="text" th:field="*{lastName}" placeholder="Last Name"/></p>
        <span th:: errors="*{lastName}" class="errors"></span>
        <p>Password : <input type="text" th:field="*{password}" placeholder="Password" /></p>
        <span th:: errors="*{password}" class="errors"></span>
        <p>Email   :  <input type="text"  th:field="*{email}" placeholder="Email" /></p>
        <span th:: errors="*{email}" class="errors"></span>

        <p><input type="submit" value="SUBMIT"/></p>
        <br>
        <br>
        <p>By creating an account you agree to our <a href="#">Terms & Privacy</a></p>

</form>
</div>

<h2> Returning Travelers</h2>
<a href="login.html" input type="login">Login</a>
<br>

</form>
</body>
</html>