<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<header>:
    <nav th:replace="fragments :: my-fragment1"></nav>

    <h1 class="party">Party of One Travels</h1>

</header>
<body>
<p> In order to create a Post, please complete the information listed below: </p>

<form th:action="@{/travelPost}" th:object="${TravelPost}" method="POST">

    <p>Profile Name : <input th:field="*{profileName}" placeholder ="6-15 characters" type="text"/></p>
    <span th:: errors="*{profileName}" class="errors"></span>
    <p>Travel Date   : <input type="datetime-local" th:field="*{travelDate}" placeholder="mm/dd/year"/></p>
    <span th:: errors="*{travelDate}" class="errors"></span>
    <p>Location : <input type="text" th:field="*{location}" placeholder="city, state, country"/></p>
    <span th:: errors="*{location}" class="errors"></span>
    <p> Activity/Experience : <input type="text" th:field="*{activity}" placeholder="resort, hotel, restaurant, etc.."/> </p>
   <span th:: errors="*{activity}" class="errors"></span>
    <p>Rating (1-5) :  <input type="text"  th:field="*{rating}" placeholder="0-5"></p>
    <span th:: errors="*{rating}" class="errors"></span>

    <p>  Post : <textarea th:field="*{userPost}" > id="myPost"
        row="8" cols="80"
         </textarea></p>
    <span th:: errors="*{userPost}" class="errors"></span>

    <p><input type="submit" value="SUBMIT"/></p>

</form>
</body>
</html>