<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

<header>
    <nav th:replace="fragments :: my-fragment1"></nav>


    <h1 class="party">Party of One Travels</h1>
</header>

<p> Visitors to the website can create a profile in order to post helpful tips.</p>
<p> You can browse the list of travelers, search by categories or add new Posts to share with other travelers</p>
<br>

<p th:unless="${userProfiles} and ${userProfiles.size()}">Something went wrong. Unable to load profiles</p>
<br/><br/>

Number of Profiles currently in the system: <span th:text="${userProfiles.size()}"></span>
<ul>
    <th:block th:each="userProfile: ${userProfiles}"> <!--loops through all the profiles already in the system-->
        <li>
            <span th:text="${userProfile.profileName}"></span>
            <a th:href="@{'/edit/' + ${userProfile.id}}">Edit</a>
            <a th:href="@{'/deleteUser/' + ${userProfile.id}}">Delete</a>

        <br>


    </li>
</th:block>
</ul>

<p>  If your profile isn't listed above please create a new one</p>

<a href="/new">Create User Profile</a>
<a href="userPosts" input type="login">Enter A Post</a>
<br>


</a>
</html>

<!--<p>< type="submit" value="Create User Profile"/></p>

 creating a form to input user profile info>
<div>

    <form action="#" th:action="@{/addUser}" th:object="${userProfile}" method="post">

    <p> Profile Name: <input type="text" th:field="*{profileName}"  /></p>
    <p> First Name:  <input type="text" th:field="*{firstName}" /></p>
    <p> Last Name:  <input th:field="*{lastName}" type="text"/></p>
    <p> Email:  <input type="text" th:field="*{email}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset"/></p>
    </form>
</div>
div>
    <form action="#" th:action="@{/new}" th:object="${userProfile}" method="POST">

        <p>Profile Name : <input type="text" th:field="*{profileName}" /></p>
        <span th:: errors="*{profileName}" class="errors"></span>
        <p>First Name   : <input  type="text" th:field="*{firstName}" placeholder="First Name"/></p>
        <span th:: errors="*{firstName}" class="errors"></span>
        <p>Last Name : <input type="text" th:field="*{lastName}" placeholder="Last Name"/></p>
        <span th:: errors="*{lastName}" class="errors"></span>

        <p>Email   :  <input type="text"  th:field="*{email}" placeholder="Email" /></p>
        <span th:: errors="*{email}" class="errors"></span>

        <p><input type="submit" value="SUBMIT"/></p>
        <br>
        <br>


    </form>
</div>-->


