<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

<header>
    <nav th:replace="fragments :: my-fragment1"></nav>
</header>

    <h1 class="party">Party of One Travels</h1></head>
<body>
<h2>Enter User Profile Details:</h2>

<form action="/addUser" method="POST">
    <table class="center">

        <tr>
            <td>Profile Name: </td>
            <td><input name="profileName" type="text" /></td>

        </tr>

        <tr>
            <td>First Name: </td>
            <td><input name="firstName" type="text" /></td>

        </tr>

        <tr>
            <td>Last Name: </td>
            <td><input name="lastName" type="text" /></td>

        </tr>

        <tr>
            <td>Email: </td>
            <td><input name="email" type="text" /></td>

        </tr>
        <!--tr>
            <td>Keyword: </td>
            <td><input name="keyword" type="text" /></td>
        </tr-->

</table>
    <input type="submit" value="Save this User">
</form>

</body>

</html>
