<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" http-equiv="Content-Type" content="text/html">
    <title th:text="${title}">Travel Tips:</title>
    <link rel="stylesheet" type="text/css" href="travel_tips.css">
</head>
<header><div class="header">
    <a th:href="@{/register}">Home</a>
    <a href=" ">About</a>
    <a href="/search">Search</a>

</div>
    <h1>Party of One Travels</h1>
</header>
<body>
<p>Today's women are more adventurous than ever before!  Whether it's exploring local sites expanding seeking new adventures
worldwide, many women are making an active choice to explore the world alone.  With this in mind safety is a major concern
    when embarking ones Travels.</p>

<p> According to <a href="https://expertvagabond.com/travel-safety-tips/">expertvagabond.com</a> there are several tips and
    and strategies to use to help ease concerns when traveling alone.</p>

<h2> TEN TIPS FOR THE SOLO TRAVELER</h2>
<ol type="1">
    <li>Write Down Emergency Information </li>
    Plan ahead by recording the numbers for the local police and ambulance services in your phone.  It's good to have any emergency plan
   <br>
    <li>Check out the State Department Website</li>
    This website warnings or threats to traveler safety. The <a href="https://travel.state.gov/content/passports/en/country.html">
    US State Department</a> has page for every country in the world.
    <br>
    <li>Get Travel Insurance</li>
    Better safe than sorry.  This would relieve some concerns if you're traveling with valuables.
    <br>
    <li>Register With Your Embassy</li>
    The US Department of State has a program <a  href="https://step.state.gov/step/">Smart Travelor Enrollment Program (STEP)</a>
    which is available to all US citizens and nationals traveling and living abroad. It provides important information
    about safety conditions in your destination country.
    <br>
    <li>Provide Your Itenerary to Family/Friends</li>
    Make sure someone knows where you're going and when.
    <br>
    <li>Travel In a Group</li>
    This is expecially true for women with concerns about being harrassed or assalted.  One suggestion if traveling to
    local spots (i.e markets or nightclubs) is to travel in a group.
    <br>




</ol>

when

</body>
</html>