<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<header>
       <div th:replace="fragments :: my-fragment1"></div>
 <h1>Party of One Travels</h1>
    <br>


</header>
<body>
<br>

<p>Today's women are more adventurous than ever before!  Whether it's exploring local sites expanding seeking new adventures
worldwide, many women are making an active choice to explore the world alone.  With this in mind safety is a major concern
    when embarking ones Travels.</p>

<p> According to <a href="https://expertvagabond.com/travel-safety-tips/">expertvagabond.com</a> there are several tips and
    and strategies to use to help ease concerns when traveling alone.</p>
<br>

<h2> GENERAL TIPS FOR THE SOLO TRAVELER</h2>
<ol type="1">
    <li>Write Down Emergency Information </li>
    Plan ahead by recording the numbers for the local police and ambulance services in your phone.  It's good to have any emergency plan
   <br>
    <br>
    <li>Check out the State Department Website</li>
    This website warnings or threats to traveler safety. The <a href="https://travel.state.gov/content/passports/en/country.html">
    US State Department</a> has page for every country in the world.
    <br>
    <br>
    <li>Get Travel Insurance</li>
    Better safe than sorry.  This would relieve some concerns if you're traveling with valuables.
    <br>
    <br>
    <li>Register With Your Embassy</li>
    The US Department of State has a program <a  href="https://step.state.gov/step/">Smart Travelor Enrollment Program (STEP)</a>
    which is available to all US citizens and nationals traveling and living abroad. It provides important information
    about safety conditions in your destination country.
    <br>
    <br>
    <li>Provide Your Itinerary to Family/Friends</li>
    Make sure someone knows where you're going and when.
    <br>
    <br>
    <li>Travel In a Group</li>
    This is expecially true for women with concerns about being harrassed or assalted.  One suggestion if traveling to
    local spots (i.e markets or nightclubs) is to travel in a group.
    <br>
    <br>
    <li>Notify Your Bank About Your Trip</li>
    Contact your bank or credit union about your upcoming travels.  Failure to do so may result in your banking institution
    locking your card.
    <br>
    <br>
    <li>Use ATMs Wisely</li>
    Carefully examine the ATM machine before using it.  If it appears to have been tampered with, DON'T USE IT! Also beware
    of your surroundings when using the ATM.


    One of the most important tips to travelers can use it to TRUST YOUR INSTINCTS!!  iF a situation makes you feel uncomfortable
    don't ignore it.  If you're uneasy listen to that voice in your head.  This may save you a lot of grief and tribulations




</ol>



</body>
</html>